/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';



@responsive {
  .header-space {
    margin-top:74px;
  }
  .container-lg {
    width:75%;
    min-width:980px;
  } 

}


.container {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
}

html {
  overflow-x:hidden;
  overflow-y:scroll;
}