/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';



@responsive {

  .header-space {
    margin-top:74px;
  }

  .container-gear-lg {
    max-width:75%;
    min-width:980px;
  } 

}


html body .container {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
}

#__nuxt {
  min-width: 100vw;
  min-height: 100vh;
}